.wrapper {
  padding: 10px;
}

.newest-page-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
  border-bottom: 2px solid var(--clr-border);
  background-color: var(--clr-text);
  border-radius: 10px;
}

.new-page-headtitle {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--clr-text-2);
}
