.info-text-box {
  position: relative;
  display: flex;
  width: 100vw;
  height: 80dvh;
  padding-top: 100px;
  align-items: flex-start;
  justify-content: center;
  color: var(--clr-text);
  border-bottom: 1px solid var(--clr-border);
}

.arrow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-text-2);
  font-size: 20rem;
  z-index: -10;
  opacity: 0.8;
}

.info-text {
  max-width: 600px;
  border-left: 1px solid var(--clr-border);
  border-right: 1px solid var(--clr-border);
  padding: 0 5px;
  color: var(--clr-text);
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: var(--clr-text);
  opacity: 1;
}

@media (max-width: 600px) {
  .info-text {
    max-width: 340px;
    font-size: 1.5rem;
  }
  .arrow {
    font-size: 15rem;
  }
}
