.page-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 330px;
  min-width: 330px;
  height: 430px;
  background-color: var(--clr-bg-2);
  color: var(--clr-text);
  border: 1px solid var(--clr-border);
  border-radius: 10px;
  padding: 5px 10px;
}

.text-box {
  overflow: scroll;
  max-height: 200px;
}

.page--sub-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  align-self: center;
}

.title-content {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Rajdhani", sans-serif;
}

.page-content {
  font-size: 1rem;
  font-family: "Rajdhani", sans-serif;
}

.page-link-box {
  margin-top: auto;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.page-link {
  border: solid 1px var(--clr-border);
  background-color: var(--clr-accent-2);
  padding: 2px 5px;
  border-radius: 5px;
  color: var(--clr-text-2);
  font-family: monospace;
}
