/* .wrapper {
  
} */
.page-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-bottom: 10px;
}
.page-list-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
